<div class="p-4"></div>
<div  style="width: 50%" class="container">
   <h1>Hi {{account.firstName}}!</h1>
</div>
<div class="ppsh"></div>
<div style="width: 50%" class="container">
<div class="row">
   <div class="column svd">
      <h5 style="text-align: justify">
         Music is our passion! Panda 3 is a service dedicated to it. 
         Thanks to Panda 3 you can easily manage line-up on our music event. 
         Simply go into 'Events' tab, and tell us you want to be in our lineup this year,
         we will take care of the rest!'
      </h5>
   </div>
   <div class="column">
      <img height="105" src="https://i.imgur.com/ndly6eF.png" >
   </div>
</div>